@import "reset.css";
@font-face {
    font-family: 'GowunBatang';
    src: url('./fonts/GowunBatang-Regular.ttf') format('truetype')
}
@font-face {
    font-family: 'Noto Sans KR';
    src: url('./fonts/NotoSansKR-Regular.otf') format('opentype')
}
body {
    background-color: #f6f9fc;
    font-family: 'Noto Sans KR';
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.desc {
    font-family: 'GowunBatang';
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 5px;
}

.canvas {
    width: 700px;
    height: 700px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0px 0px 3px rgba(0, 0, 0, 0.5);
}

.controls {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls .controls__btns {
    margin-bottom: 15px;
}

.controls__btns button {
    all: unset;
    cursor: pointer;
    /* background-color: white; */
    padding: 5px 10px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    border: 2px solid rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.7);
    font-weight: 800;
    font-size: 15px;
}

.controls__btns button:active {
    transform: scale(0.96);
}

.controls .controls__colors {
    display: flex;
}

.controls__colors .controls__color {
    width: 50px;
    height: 50px;
    border-radius: 25px; /* should be half of width to make circle*/
    cursor: pointer;
    box-shadow: 3px 4px 2px rgba(50, 50, 93, 0.4), 0px 0px 5px rgba(0, 0, 0, 0.35);
}

.controls .controls__range {
    margin-top: 10px;
}

.controls__range input {
    vertical-align: middle;
    margin-bottom: 23px;
}