@import "reset.css";
@import "canvas_media.css";
@font-face {
    font-family: 'Gowun Batang', serif;
    src: url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');
}
@font-face {
    font-family: 'Noto Sans KR', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
}
body {
    background-color: #efeff0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 50px;
    cursor : url(./pencil_big.cur), auto;
}
.desc {
    font-family: 'Gowun Batang', serif;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 5px;
}
#cursorFollower {
    border: 0.5px solid black;
    position: absolute;
    z-index: 1;
    pointer-events: none;
}
.controls {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.controls__btns {
    margin-bottom: 15px;
}
#jsSavePNG, #jsSaveJPG {
    cursor: pointer;
}
.controls__btns button {
    all: unset;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: white;
    padding: 5px 10px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    border: 2px solid rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.7);
    font-weight: 800;
    font-size: 15px;
}
.controls__btns button:active {
    transform: scale(0.96);
}
.controls__range {
    width: auto;
    margin-top: 10px;
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    /* flex-flow: column wrap; 위 두 개 합친거*/ 
    /* justify-content: space-around; 주축 컨텐츠 배치 */
    align-items: center; /* 교차축 한 줄만 */
    /* align-content: space-between; 교차축 여러줄 */
    /* align-self: 자기만 예외, 부모 무시 */
}
.controls__range #jsRange {
    width: 200px;
}
.controls__range #jsRangeValue,
.controls__range #jsRangeDummy {
    width: 35px;
    height: 20px;
    margin: 0;
    padding: 0;
    position: relative;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    font-weight: 300;
    text-align: right;
}
.controls__range #jsRangePreview {
    padding: 0;
    margin: 0;
    position: absolute;
}